body,
html {
    height: 100%;
    width: 100%;
    min-width: 300px;
    font: 16px/1.5em Roboto, sans-serif;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.container_s {
    width: 100%;
    max-width: 940px;
    margin: auto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
a {
    transition: 0.3s;
}



nav {
    width: 100%;
    padding: 0 45px;
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 9;
    transition: 0.3s;
    border-top: 2px solid #00D0CC;
}

nav a {
    text-decoration: none;
    padding: 0 30px;
    font: 1em/4.5em Roboto;
    font-weight: 300;
    color: #fff;
}
nav a:hover {
    color: #00D0CC;
}
nav a.logo {
    float: left;
    padding: 0;
    font: 3em/1.5em 'Poiret One', cursive;
    letter-spacing: -18px;
    color: #00D0CC;
}
nav .nav-right {
    float: right;
}
nav .nav-right a:first-of-type {
    padding-left: 0;
}
nav .nav-right a:last-of-type {
    padding-right: 0;
}



header {
    height: 500px;
    overflow: hidden;
    position: relative;
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
}
header h1 {
    font-family: 'Poiret One', cursive;
    font-size: 6em;
    font-weight: 100;
    line-height: 1em;
    color: #00D0CC;
}
header h2 {
    margin-top: 20px;
    color: #eee;
    font-weight: 300;
}
header h2 span {
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 20px;
    background-color: #00D0CC;
    border-radius: 100%;
}
header a {
    position: absolute;
    bottom: 40px;
    left: 0; right: 0;
    margin: auto;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #00D0CC;
    transition: 0.3s;
}
header a:hover {
    bottom: 35px;
}
header a svg {
    width: 20px;
    height: 11px;
    margin: 15px 0;
}
header video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
header video img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


article#skills {
    background-color: #fff;
}
article#skills section {
    padding: 80px 0 120px;
}
article#skills section h1 {
    font-size: 3.5em;
    line-height: 1em;
    font-weight: 100;
    width: 50%;
    padding: 0 20px;
    display: inline-block;
}
article#skills section p {
    font-size: 1.15em;
    font-weight: 300;
    width: 50%;
    display: inline-block;
    margin-left: -0.25em;
    padding: 0 20px;
    vertical-align: super;
}
article#skills section ul {
    list-style: none;
    padding: 0;
    display: table;
    margin-top: 100px;
    width: 100%;
}
article#skills section ul li {
    width: 25%;
    float: left;
    padding: 0 10px 20px;
    text-align: center;
}
article#skills section ul li:hover img {
    transform: scale(1.1);
}
article#skills section ul li img {
    width: 120px;
    margin-bottom: 10px;
    transition: 0.3s;
}
article#skills section ul li h2 {
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 100;
    margin-bottom: 20px;
}
article#skills section ul li p {
    color: #6f7787;
    width: 100%;
}


article#work {
    padding-bottom: 80px;
    background-color: #fff;
}
article#work h1 {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 3.5em;
    line-height: 1em;
    padding: 180px 0 70px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
article#work h1 small {
    display: block;
    font-size: 0.6em;
}
article#work h1:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    left: 0; right: 0;
    margin: auto;
    background: url(../img/startup-focused.png) center no-repeat;
    background-size: contain;
}
article#work h1 span {
    content: '';
    position: absolute;
    top: -15%;
    left: -15%;
    bottom: -15%;
    right: -15%;
    background: url(../img/img-services.jpg) top center no-repeat;
    background-size: cover;
    z-index: -1;
}

article#work ul {
    list-style: none;
    padding: 0;
    margin-top: 50px;
}
article#work ul li {
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 2px;
    border-bottom: 1px solid #ccc;
    padding: 30px 0;
}
article#work ul li:last-child {
    border-bottom: 0;
}
article#work ul li img {
    width: 60%;
    float: left;
}
article#work ul li .about {
    width: 40%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 20px 60px;
}
article#work ul li .about:before{
    content: "";
    display: inline-block;
    min-height: inherit;
    height: 100%;
    vertical-align: middle;
}
article#work ul li .about > div {
    display: inline-block;
    vertical-align: middle;
}

article#work ul li .about h2 {
    color: #212121;
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 100;
    margin-bottom: 10px;
}
article#work ul li .about label,
article#work ul li .about a {
    color: rgba(255,255,255,.5);
    font-weight: 300;
    color: #212121;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 0.9em;
    letter-spacing: 2px;
}
article#work ul li .about a {
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
article#work ul li .about a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(0,208,204,0.5);
    bottom: 0;
    transition: 0.3s;
    right: 100%;
}
article#work ul li .about a:hover::after {
    background-color: rgba(0,208,204,0.5);
    right: 0;
}
article#work ul li .about label {
    width: 100%;
    text-align: right;
}
article#work ul li .about p {
    margin-bottom: 40px;
    color: #212121;
    font-size: 1.15em;
    line-height: 1.25em;
    font-weight: 300;
}
article#work ul li .about span {
    display: inline-block;
    margin-bottom: 5px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 10px;
    background-color: rgba(0,208,204,0.5);
    color: #212121;
    font-size: 12px;
    line-height: 24px;
}
article#work ul li:nth-child(2n) img {
    float: right;
}
article#work ul li:nth-child(2n) .about {
    left: 0;
    right: auto;
}




article#contacts {
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
article#contacts h1 {
    display: block;
    text-align: center;
    color: #fff;
    font-weight: 100;
    font-size: 3.5em;
    line-height: 1em;
    padding: 180px 0 0px;
    margin-bottom: 60px;
}
article#contacts h1:before {
    content: '';
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    left: 0; right: 0;
    margin: auto;
    background: url(../img/strategy2.png) center no-repeat;
    background-size: contain;
}
article#contacts span {
    content: '';
    position: absolute;
    top: -15%;
    left: -15%;
    bottom: -15%;
    right: -15%;
    background: url(../img/img-portfolio.jpg) top center no-repeat;
    background-size: cover;
    z-index: -1;
}
article#contacts a {
    color: #22bcb9;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    text-decoration: none;
    display: block;
    overflow: hidden;
}
article#contacts a:hover {
    color: #fff;
}
article#contacts a[href^=http] {
    display: inline-block;
    height: 54px;
    width: 54px;
    margin: 0 15px 30px;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
}
article#contacts a[href^=http]:hover {
    border: 2px solid #22bcb9;
    box-shadow: 0 0 4px 0 #22bcb9;
}



footer {
    background-color: #000;
    padding: 20px 0;
    text-align: center;
}
footer cite {
    display: block;
    text-align: center;
    color: #6f7787;
    font-style: normal;
    font-size: 1.2em;
    font-weight: 800;
    font-family: 'Poiret One', cursive;
}



@media screen and (max-width: 1200px) {
    .container {
        max-width: 1024px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .mobile_hide {
        display: none !important;
    }
    article#skills section {
        padding: 80px 0 50px;
    }
    article#skills section h1,
    article#skills section p {
        display: block;
        width: 100%;
        max-width: 650px;
        margin: 0 auto 10px;
        text-align: center;
    }
    article#skills section ul {
        margin-top: 70px;
    }

    article#work ul li {
        padding: 0;
    }
    article#work ul li img {
        width: 100%;
        margin-bottom: -60px;
    }
    article#work ul li .about {
        position: relative;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    article#work ul li .about a {
        display: inline-block;
        width: 100%;
        clear: both;
        margin: 10px 0 5px;
    }
    article#work ul li .about label {
        font-size: 2.5em;
        line-height: 1.15em;
        font-weight: 100;
    }
    article#work ul li .about h2,
    article#work ul li .about p,
    article#work ul li .about label:last-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    article#skills section ul li {
        width: 50%;
    }
}

@media screen and (max-width: 580px) {
    header {
        padding-top: 10.5em;
    }
    header h1 {
        font-size: 4em;
    }
    nav {
        text-align: center;
    }
    nav a {
        padding: 0 10px;
        line-height: 3em;
    }
    nav a.logo {
        font-size: 2em;
        letter-spacing: -12px;
    }

    article#skills section ul {
        margin-top: 40px;
    }
    article#skills section ul li {
        width: 100%;
        padding-bottom: 40px;
    }

    article#work ul {
        padding: 0 10px;
        box-sizing: border-box;
    }
    article#work ul li img {
        margin-bottom: -30px;
    }
    article#work ul li .about {
        margin-bottom: 0;
        padding: 20px;
    }
    article#work ul li .about label {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    article#contacts {
        padding-bottom: 50px;
    }
    article#contacts h1 {
        padding-top: 140px;
    }
    article#contacts h1:before {
        width: 90px;
        height: 90px;
        top: 40px;
    }
    article#contacts a[href^=http] {
        margin: 0 10px 30px;
        width: 44px;
        height: 44px;
    }
    article#contacts a[href^=http] .icon--m {
        width: 40px;
        height: 40px;
    }

    footer img {
        width: 60px;
    }
}
@media screen and (max-width: 410px) {
    nav {
        text-align: center;
        padding: 0;
    }
    nav a {
        padding: 0 15px;
        float: none;
        display: inline-block;
    }
    nav a.logo {
        display: none;
        letter-spacing: -12px;
    }
    nav .nav-right {
        float: none;
    }

    article#skills section {
        padding-bottom: 0;
    }
    article#skills section h1 {
        font-size: 2.5em;
    }

    article#work {
        padding-bottom: 30px;
    }
    article#work h1 {
        font-size: 2.5em;
        padding: 120px 0 30px;
    }
    article#work h1:before {
        width: 80px;
        height: 80px;
        top: 30px;
    }
    article#work ul {
        margin-top: 20px;
    }
    article#work ul li img {
        margin-bottom: -20px;
    }

    article#contacts h1 {
        font-size: 2.5em;
        padding: 120px 0 0;
        margin-bottom: 50px;
    }
    article#contacts h1:before {
        width: 80px;
        height: 80px;
        top: 30px;
    }
    article#contacts a[href^=http] {
        margin: 0 5px 30px;
    }
}




/* The Loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.no-js #loader-wrapper {
  display: none;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0,208,204,0.5);
  -webkit-animation: spin 1.7s linear infinite;
          animation: spin 1.7s linear infinite;
  z-index: 11;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0,208,204,0.75);
  -webkit-animation: spin-reverse .6s linear infinite;
          animation: spin-reverse .6s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: rgba(0,208,204,1);
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #212121;
  z-index: 10;
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded styles */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}