html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global Styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
html {
	margin: 0;
	height: 100%;
}
html, a, input, textarea, placeholder, button {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
.left { float: left }
.right { float: right }
.clear { clear: both }
input, textarea, button { font-family: 'Open Sans', sans-serif }
body {
	background: white;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch
}

/* Animations */
/* Pulse animation */
@keyframes pulse {
	0% {
	    transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
	50% {
	    transform: scale(1.1);
	    border: solid 1px rgba(255, 255, 255, .50);
	}
	100% {
	    transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
}
@-webkit-keyframes pulse {
	0% {
	    -webkit-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .3);
	}
	50% {
	    -webkit-transform: scale(1.1);
	    border: solid 1px rgba(255, 255, 255, .75);
	}
	100% {
	    -webkit-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .3);
	}
}
@-moz-keyframes pulse {
	0% {
	    -moz-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
	50% {
	    -moz-transform: scale(1.1);
	    border: solid 1px rgba(255, 255, 255, .50);
	}
	100% {
	    -moz-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
}
@-o-keyframes pulse {
	0% {
	    -o-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
	50% {
	    -o-transform: scale(1.1);
	    border: solid 1px rgba(255, 255, 255, .50);
	}
	100% {
	    -o-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
}
@-ms-keyframes pulse {
	0% {
	    -ms-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
	50% {
	    -ms-transform: scale(1.1);
	    border: solid 1px rgba(255, 255, 255, .50);
	}
	100% {
	    -ms-transform: scale(1);
	    border: solid 1px rgba(255, 255, 255, .25);
	}
}

/* Opacity animation */
@keyframes opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-webkit-keyframes opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-moz-keyframes opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-o-keyframes opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}
@-ms-keyframes opacity {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

/* Workflow chart point animation */
@keyframes workFlow-point {
	0% {
	    transform: scale(0);
	    box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 0;
	}
	65% {
	    transform: scale(1);
	    box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	85% {
	    transform: scale(1);
	    box-shadow: 0 0 0 10px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	100% {
	    transform: scale(1);
	    box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
}
@-webkit-keyframes workFlow-point {
	0% {
	    -webkit-transform: scale(0);
	    -webkit-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 0;
	}
	65% {
	    -webkit-transform: scale(1);
	    -webkit-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	85% {
	    -webkit-transform: scale(1);
	    -webkit-box-shadow: 0 0 0 10px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	100% {
	    -webkit-transform: scale(1);
	    -webkit-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
}
@-moz-keyframes workFlow-point {
	0% {
	    -moz-transform: scale(0);
	    -moz-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 0;
	}
	65% {
	    -moz-transform: scale(1);
	    -moz-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	85% {
	    -moz-transform: scale(1);
	    -moz-box-shadow: 0 0 0 10px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	100% {
	    -moz-transform: scale(1);
	    -moz-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
}
@-o-keyframes workFlow-point {
	0% {
	    -o-transform: scale(0);
	    -o-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 0;
	}
	65% {
	    -o-transform: scale(1);
	    -o-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	85% {
	    -o-transform: scale(1);
	    -o-box-shadow: 0 0 0 10px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	100% {
	    -o-transform: scale(1);
	    -o-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
}
@-ms-keyframes workFlow-point {
	0% {
	    -ms-transform: scale()0;
	    -ms-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 0;
	}
	65% {
	    -ms-transform: scale(1);
	    -ms-box-shadow: 0 0 0 0 rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	85% {
	    -ms-transform: scale(1);
	    -ms-box-shadow: 0 0 0 10px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
	100% {
	    -ms-transform: scale(1);
	    -ms-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	    opacity: 1;
	}
}
/* Workflow icon animation */
@keyframes workFlow-icon {
	0% {
	    transform: perspective(166px) rotateX(-90deg);
	    top: 100px;
	    opacity: 0;
	}
	100% {
	    transform: perspective(166px) rotateX(0deg);
	    top: 0;
	    opacity: 1;
	}
}
@-webkit-keyframes workFlow-icon {
	0% {
	    -webkit-transform: perspective(166px) rotateX(-90deg);
	    top: 100px;
	    opacity: 0;
	}
	100% {
	    -webkit-transform: perspective(166px) rotateX(0deg);
	    top: 0;
	    opacity: 1;
	}
}
@-moz-keyframes workFlow-icon {
	0% {
	    -moz-transform: perspective(166px) rotateX(-90deg);
	    top: 100px;
	    opacity: 0;
	}
	100% {
	    -moz-transform: perspective(166px) rotateX(0deg);
	    top: 0;
	    opacity: 1;
	}
}
@-o-keyframes workFlow-icon {
	0% {
	    -o-transform: perspective(166px) rotateX(-90deg);
	    top: 100px;
	    opacity: 0;
	}
	100% {
	    -o-transform: perspective(166px) rotateX(0deg);
	    top: 0;
	    opacity: 1;
	}
}
@-ms-keyframes workFlow-icon {
	0% {
	    -ms-transform: perspective(166px) rotateX(-90deg);
	    top: 100px;
	    opacity: 0;
	}
	100% {
	    -ms-transform: perspective(166px) rotateX(0deg);
	    top: 0;
	    opacity: 1;
	}
}

/* Workflow details list animation */
@keyframes workFlow-details {
	0% {
	    top: -20px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-webkit-keyframes workFlow-details {
	0% {
	    top: -20px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-moz-keyframes workFlow-details {
	0% {
	    top: -20px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-o-keyframes workFlow-details {
	0% {
	    top: -20px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-ms-keyframes workFlow-details {
	0% {
	    top: -20px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}

/* Gallery shot hover animation */
@keyframes shot {
	0% {
	    top: 80px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-webkit-keyframes shot {
	0% {
	    top: 80px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-moz-keyframes shot {
	0% {
	    top: 80px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-o-keyframes shot {
	0% {
	    top: 80px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}
@-ms-keyframes shot {
	0% {
	    top: 80px;
	    opacity: 0;
	}
	100% {
	    top: 0px;
	    opacity: 1;
	}
}

/* Loading Animation */
@keyframes loadingAnimation {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}
@-webkit-keyframes loadingAnimation {
	0% { -webkit-transform: rotate(0deg) }
	100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes loadingAnimation {
	0% { -moz-transform: rotate(0deg) }
	100% { -moz-transform: rotate(360deg) }
}
@-o-keyframes loadingAnimation {
	0% { -o-transform: rotate(0deg) }
	100% { -o-transform: rotate(360deg) }
}
@-ms-keyframes loadingAnimation {
	0% { -ms-transform: rotate(0deg) }
	100% { -ms-transform: rotate(360deg) }
}

/* Welcome*/
.welcome {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #37b0e9;
	background-image: linear-gradient(206deg, rgba(255,0,245,0.30) 0%, rgba(255,0,244,0.00) 50%), linear-gradient(206deg, rgba(42,0,255,0.00) 50%, rgba(42,0,255,0.25) 100%);
	z-index: 1000;
}
.welcome h2 {
	position: relative;
	display: block;
	z-index: 2;
	padding: 160px 0 0 0;
	font-size: 52px;
	font-weight: 300;
	color: white;
	text-align: center;
}
.welcome h3 {
	position: relative;
	display: block;
	z-index: 2;
	padding: 42px 0 0 0;
	font-size: 36px;
	font-weight: 300;
	color: white;
	text-align: center;
}
.welcome h2 span,
.welcome h3 span { font-weight: 600 }

/* Browse happy */
.browseHappy {
	position: fixed;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #37b0e9;
	z-index: 1000;
}
.browseHappy p {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	z-index: 2;
	font-size: 18px;
	font-weight: 300;
	color: white;
	text-align: center;
}
.browseHappy p a {
	font-weight: 600;
	color: white;
	text-decoration: none;
}
.browseHappy p a:hover { text-decoration: underline }

/* Header Styles */
header#header {
	position: relative;
	background: #37b0e9;
	height: 500px;
}

header#header nav#navigation {
	position: fixed;
	width: 100%;
	height: 68px;
	top: 0;
	left: 0;
	z-index: 10;
	transition: height .3s ease-in-out;
	-webkit-transition: height .3s ease-in-out;
	-moz-transition: height .3s ease-in-out;
	-o-transition: height .3s ease-in-out;
	-ms-transition: height .3s ease-in-out;
}
header#header nav#navigation a.logo {
	position: relative;
	display: block;
	top: 0;
	padding: 20px 0 0 25px;
	width: 107px;
	height: 28px;
	color: white;
	text-decoration: none;
	transition: top .3s ease-in-out;
	-webkit-transition: top .3s ease-in-out;
	-moz-transition: top .3s ease-in-out;
	-o-transition: top .3s ease-in-out;
	-ms-transition: top .3s ease-in-out;
}
header#header nav#navigation > ul {
	position: relative;
	top: 0;
	margin: 15px 25px;
	font-size: 0;
	transition: top .3s ease-in-out;
	-webkit-transition: top .3s ease-in-out;
	-moz-transition: top .3s ease-in-out;
	-o-transition: top .3s ease-in-out;
	-ms-transition: top .3s ease-in-out;
}
header#header nav#navigation > ul > li {
	position: relative;
	overflow: hidden;
	float: left;
	margin: 0 0 0 38px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
header#header nav#navigation > ul > li:first-child { margin: 0 }
header#header nav#navigation > ul > li > a {
	position: relative;
	font-size: 16px;
	line-height: 38px;
	color: white;
	text-decoration: none;
}
header#header nav#navigation > ul > li > a::after {
	content: "";
	position: absolute;
	display: block;
	bottom: -5px;
	left: 0;
	width: 0%;
	height: 2px;
	background: white;
	-webkit-transition-property: width;
	-moz-transition-property: width;
	-o-transition-property: width;
	transition-property: width;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
header#header nav#navigation > ul > li:last-child  > a::after { display: none }
header#header nav#navigation > ul > li > a:hover::after { width: 100% }
header#header nav#navigation > ul > li:last-child > a {
	position: relative;
	display: inline-block;
	left: 0;
	height: 38px;
	padding: 0 18px;
	background: #2e3254;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	transition-property: left;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
header#header nav#navigation > ul > li:last-child > a:hover {
	background: white;
	color: #37b0e9;
}
header#header .hero {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background: linear-gradient(rgba(55, 176, 233, 0.7), rgba(55, 176, 233, 0.39)), url("../img/code.png") no-repeat;
/*	background: linear-gradient(rgba(55, 176, 233, 0.7), rgba(55, 176, 233, 0.39)), url("../img/darika3.jpg") center no-repeat;
	background-position: center !important;*/
	background-size: 1905px 500px;
}
header#header .hero::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: -o-linear-gradient(89deg, rgba(154,0,255,0.15) 0%, rgba(153,0,255,0.00) 50%);
	background-image: -moz-linear-gradient(89deg, rgba(154,0,255,0.15) 0%, rgba(153,0,255,0.00) 50%);
	background-image: -ms-linear-gradient(89deg, rgba(154,0,255,0.15) 0%, rgba(153,0,255,0.00) 50%);
	background-image: linear-gradient(-1deg, rgba(154,0,255,0.15) 0%, rgba(153,0,255,0.00) 50%);
}
header#header .hero h2 {
	position: relative;
	display: block;
	z-index: 2;
	padding: 160px 0 0 0;
	font-size: 52px;
	font-weight: 300;
	color: white;
	text-align: center;
}
header#header .hero h2 span { font-weight: 600 }
header#header .hero h3 {
	position: relative;
	display: block;
	z-index: 2;
	padding: 42px 0 0 0;
	font-size: 36px;
	font-weight: 300;
	color: white;
	text-align: center;
}
header#header .hero h3 span { font-weight: 600 }
header#header .hero a.scrollDown {
	position: absolute;
	display: block;
	bottom: 40px;
	left: 50%;
	margin: 0 0 0 -24px;
	width: 48px;
	height: 48px;
	border: solid 1px rgba(255, 255, 255, .38);
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
	-webkit-animation: pulse 1.8s linear 0s;
	animation: pulse 1.8s linear 0s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}
header#header .hero a.scrollDown span.icon {
	position: relative;
	display: block;
	width: 48px;
	height: 48px;
	background: url(../img/icon_arrow-down.png) no-repeat;
	background-position: left bottom;
	opacity: .75;
	z-index: 5;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
header#header .hero a.scrollDown:hover span.icon {
	opacity: 1;
	background-position: left top;
}
header#header .hero a.scrollDown:hover { border: solid 1px rgba(255, 255, 255, .65); }
header#header .hero a.scrollDown:hover span.icon { opacity: 1 }

/* Mobile menu */
header#header a.mobileNav {
	position: relative;
	display: none;
	top: 0;
	width: 32px;
	height: 32px;
	padding: 33px 25px;
	z-index: 2;
	transition: top .3s ease-in-out;
	-webkit-transition: top .3s ease-in-out;
	-moz-transition: top .3s ease-in-out;
	-o-transition: top .3s ease-in-out;
	-ms-transition: top .3s ease-in-out;
}
header#header .mobileNav span.icon {
	position: relative;
	display: block;
	top: 0;
	width: 32px;
	height: 2px;
	background: white;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
header#header .mobileNav span.icon::before {
	position: absolute;
	content: '';
	display: block;
	top: -10px;
	left: 0;
	width: 32px;
	height: 2px;
	background: white;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
header#header .mobileNav span.icon::after {
	position: absolute;
	content: '';
	display: block;
	top: 10px;
	left: 0;
	width: 32px;
	height: 2px;
	background: white;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
header#header .mobileNav.active span.icon { background: rgba(255, 255, 255, 0); }
header#header .mobileNav.active span.icon::before {
	transform: translateY(10px) translateX(0) rotate(45deg);
	-webkit-transform: translateY(10px) translateX(0) rotate(45deg);
	-moz-transform: translateY(10px) translateX(0) rotate(45deg)
}
header#header .mobileNav.active span.icon::after {
	transform: translateY(-10px) translateX(0) rotate(-45deg);
	-webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
	-moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
}
header#header .mobileMenu {
	position: fixed;
	visibility: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2e3254;
	background: rgba(46, 50, 84, 0.95);
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	z-index: 1;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
header#header.openMobileNav .mobileMenu {
	visibility: visible;
	transform: translateY(0);
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-o-transform: translateY(0);
	-ms-transform: translateY(0);
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
header#header .mobileMenu ul {
	position: relative;
	width: 100%;
	margin: 68px 0 0 0;
}
header#header .mobileMenu ul li a {
	position: relative;
	display: block;
	margin: 15px 0;
	padding: 15px 0;
	font-size: 24px;
	line-height: 38px;
	color: white;
	text-decoration: none;
	text-align: center;
}

/* Main Content */
#main {
	position: relative;
	background: #f0f3f6;
	z-index: 3;
}
.wrapper {
	width: 90%;
	max-width: 960px;
	margin: 0 auto;
}
#main section header h3 {
	display: inline-block;
	border-bottom: solid 1px #37b0e9;
	font-size: 24px;
	line-height: 55px;
	font-weight: 300;
	color: #37b0e9;
}
#main p {
	display: block;
	margin: 20px 0;
	font-size: 16px;
	line-height: 2em;
	font-weight: 300;
	color: #597086;
}

/* About */
#main #about { padding: 32px 0 0 0 }
#main section header {
	height: 55px;
	width: 100%;
	border-bottom: solid 1px #dbe0e6;
}
#main .workFlow {
	position: relative;
	margin: 50px 0 0 0;
	padding: 96px 0 60px 0;
	background: #e7ebf0;
}
#main .workFlow::before {
	position: absolute;
	content: '';
	top: 232px;
	left: -100%;
	width: 100%;
	height: 1px;
	background: #c9d1da;
}
#main .workFlow.animate::before {
	left: 0%;
	transition: all 2s ease-in;
	-webkit-transition: all 2s ease-in;
	-moz-transition: all 2s ease-in;
	-o-transition: all 2s ease-in;
	-ms-transition: all 2s ease-in;
}
#main .workFlow ul {
	position: relative;;
	width: 100%;
}
#main .workFlow ul li {
	position: relative;
	float:left;
	width: 15.625%;
	margin-right: 12.5%;
}
#main .workFlow ul li:last-child { margin: 0 }
#main .workFlow ul li .iconContainer {
	position: relative;
    width: 126px;
    height: 73px;
    margin: auto;
    background: white;
    opacity: 0;
}
#main .workFlow ul li.animate .iconContainer {
	animation: workFlow-icon .3s ease-in .6s forwards;
	-webkit-animation: workFlow-icon .3s ease-in .6s forwards;
	-moz-animation: workFlow-icon .3s ease-in .6s forwards;
	-o-animation: workFlow-icon .3s ease-in .6s forwards;
	-ms-animation: workFlow-icon .3s ease-in .6s forwards;
}
#main .workFlow ul li .iconContainer:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 36px solid white;
    border-left: 63px solid transparent;
    border-right: 63px solid transparent;
    position: absolute;
    top: -36px;
}
#main .workFlow ul li .iconContainer:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -36px;
    border-top: 36px solid white;
    border-left: 63px solid transparent;
    border-right: 63px solid transparent;
}
#main .workFlow ul li .iconContainer .shadowEffect {
	position: absolute;
	content: '';
	top: -36px;
	left: 0;
	width: 166px;
	height: 166px;
	background: url(../img/item_shadow.png);
}
#main .workFlow ul li .iconContainer .icon {
	position: relative;
	display: block;
	width: 76px;
	height: 76px;
	background: url(../img/workflow_icons.png) no-repeat;
	margin: 0 auto;
}
#main .workFlow ul li.HTML5 .iconContainer .icon { background-position: 0 -76px }
#main .workFlow ul li.CSS3 .iconContainer .icon { background-position: 0 -152px }
#main .workFlow ul li.JavaScript .iconContainer .icon { background-position: 0 -228px }
#main .workFlow ul li.learn .iconContainer .icon { background-position: 0 0px }
#main .workFlow ul li span.point {
	position: relative;
	display: block;
	margin: 56px 0 0 55px;
	width: 14px;
	height: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	background: white;
	border: solid 1px #c9d1da;
	-webkit-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	-moz-box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	box-shadow: 0 0 0 7px rgba(31, 61, 90, 0.05);
	opacity: 0;
}
#main .workFlow ul li.animate span.point {
	animation: workFlow-point .6s 1 ease-in forwards;
	-webkit-animation: workFlow-point .6s 1 ease-in forwards;
	-moz-animation: workFlow-point .6s 1 ease-in forwards;
	-o-animation: workFlow-point .6s 1 ease-in forwards;
	-ms-animation: workFlow-point .6s 1 ease-in forwards;
}
#main .workFlow ul li span.point::after {
	position: absolute;
	display: block;
	content: '';
	top: 4px;
	left: 4px;
	width: 6px;
	height: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	z-index: 5;
}
#main .workFlow ul li span.point.autoCenter { margin: 56px auto 0 auto }
#main .workFlow ul li.HTML5  span.point::after  { background: #eabf4b }
#main .workFlow ul li.CSS3  span.point::after  { background: #e4618b }
#main .workFlow ul li.JavaScript  span.point::after  { background: #46cac2 }
#main .workFlow ul li.learn  span.point::after  { background: #37b0e9 }
#main .workFlow ul li .details {
	position: relative;
	margin: 0 auto;
}
#main .workFlow ul li .details h4 {
	display: inline-block;
	margin: 16px 0;
	font-size: 18px;
	color: #1f3d5a;
	white-space: nowrap;
	opacity: 0;
}
#main .workFlow ul li.animate .details h4 {
	animation: opacity .3s ease-in 1s forwards;
	-webkit-animation: opacity .3s ease-in 1s forwards;
	-moz-animation: opacity .3s ease-in 1s forwards;
	-o-animation: opacity .3s ease-in 1s forwards;
	-ms-animation: opacity .3s ease-in 1s forwards;
}
#main .workFlow ul li .details ul {
	position: relative;
	margin: 0 auto;
	padding: 5px 0;
	border-left: solid 1px #c9d1da;
	opacity: 0;
}
#main .workFlow ul li.animate .details ul {
	animation: workFlow-details .3s ease-in 1.3s forwards;
	-webkit-animation: workFlow-details .3s ease-in 1.3s forwards;
	-moz-animation: workFlow-details .3s ease-in 1.3s forwards;
	-o-animation: workFlow-details .3s ease-in 1.3s forwards;
	-ms-animation: workFlow-details .3s ease-in 1.3s forwards;
}
#main .workFlow ul li .details ul li {
	display: block;
	float: none;
	padding: 6px 0 6px 14px;
	font-size: 15px;
	font-weight: 300;
	color: #597086;
	white-space: nowrap;
}
#main .workFlow ul li .details ul li::after {
	position: absolute;
	display: block;
	content: '';
	top: 9px;
	left: -5px;
	width: 7px;
	height: 7px;
	background: #e7ebf0;
	border: solid 1px #c9d1da;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
#main .workFlow ul li .details ul li:first-child { padding: 0 0 6px 14px }
#main .workFlow ul li .details ul li:first-child::after { top: 3px }
#main .workFlow ul li .details ul li:last-child { padding: 6px 0 0 14px }

/* Work */
#main #work {
	position: relative;
	padding: 50px 0 35px 0;
	background: #2e3254;
}
#main #work header { border-bottom: solid 1px #222649 }
#main #work header h3 {
	color: #c9d1da;
	border-bottom: solid 1px #c9d1da;
}
#main #work .gallery {
	position: relative;
	margin: 30px 0;
}
#main #work .gallery .shotWrapper {
	position: relative;
	display: block;
	overflow: hidden;
	float: left;
	width: 31.25%;
	height: 0;
	margin: 0 3.125% 3.125% 0;
	padding: 0 0 31.25% 0;
	background: #00031c;
	opacity: 0;
}
#main #work .gallery.animate .shotWrapper {
	animation: shot .3s ease-in forwards;
	-webkit-animation: shot .3s ease-in forwards;
	-moz-animation: shot .3s ease-in forwards;
	-o-animation: shot .3s ease-in forwards;
	-ms-animation: shot .3s ease-in forwards;
}
#main #work .gallery.animate .shotWrapper:nth-child(2) {
	animation-delay: .2s;
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	-ms-animation-delay: .2s;
}
#main #work .gallery.animate .shotWrapper:nth-child(3) {
	animation-delay: .4s;
	-webkit-animation-delay: .4s;
	-moz-animation-delay: .4s;
	-o-animation-delay: .4s;
	-ms-animation-delay: .4s;
}
#main #work .gallery.animate .shotWrapper:nth-child(4) {
	animation-delay: .6s;
	-webkit-animation-delay: .6s;
	-moz-animation-delay: .6s;
	-o-animation-delay: .6s;
	-ms-animation-delay: .6s;
}
#main #work .gallery.animate .shotWrapper:nth-child(5) {
	animation-delay: .8s;
	-webkit-animation-delay: .8s;
	-moz-animation-delay: .8s;
	-o-animation-delay: .8s;
	-ms-animation-delay: .8s;
}
#main #work .gallery.animate .shotWrapper:nth-child(6) {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	-o-animation-delay: 1s;
	-ms-animation-delay: 1s;
}
#main #work .gallery .shotWrapper .shot {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat !important;
	background-size: contain !important;
}
#main #work .gallery .shotWrapper:nth-child(3n+3) { margin: 0 0 3.125% 0 }
#main #work .gallery .shotWrapper .shot .overlay {
	position: absolute;
	top: 75px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 3, 28, 0.9);
	opacity: 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
#main #work .gallery .shotWrapper .shot:hover .overlay {
	top: 0;
	opacity: 1;
}
#main #work .gallery .shotWrapper .shot .overlay .contentContainer { padding: 10px }
#main #work .gallery .shotWrapper .shot .overlay .contentContainer header {
	padding: 10px 0;
	border-bottom: solid 1px rgba(201, 209, 218, 0.12);
}
#main #work .gallery .shotWrapper .shot .overlay .contentContainer header h4 {
	margin: 0 0 8px 0;
	font-size: 18px;
	color: #c9d1da;
	text-align: center;
}
#main #work .gallery .shotWrapper .shot .overlay .contentContainer header p {
	display: block;
	margin: 0;
	font-size: 12px;
	color: #9eabbb;
	text-align: center;
}
#main #work .gallery .shotWrapper .shot .overlay .contentContainer a.viewProject {
	position: relative;
	display: block;
	width: 136px;
	height: 40px;
	margin: 80px auto;
	border: solid 1px #c9d1da;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	line-height: 40px;
	color: #c9d1da;
	text-align: center;
	text-decoration: none;
	opacity: .3;
	transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	-ms-transition: opacity .3s ease-in-out;
}
#main #work .gallery .shotWrapper .shot .overlay .contentContainer a.viewProject:hover { opacity: .75 }

/* Contact */
#main #contact { background: #f0f3f6}
#main #contact p { margin: 20px 0 50px 0;}
#main #contact .responsiveDesign {
	position: relative;
	display: block;
	top: 25px;
	width: 77.08333333333334%;
	height: 0;
	margin: 0 auto;
	padding: 0 0 23.541666666666666% 0;
	opacity: 0;
}
#main #contact .responsiveDesign.animate {
	opacity: 1;
	top: 0;
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in;
	-o-transition: all .3s ease-in;
	-ms-transition: all .3s ease-in;
}

#main #contact .contactDetails {
	padding: 40px 0 20px 0;
	background: #e7ebf0;
}
#main #contact .contactDetails .column {
	position: relative;
	float: left;
	width: 30.20833333333333%;
	margin: 0 4.6875% 0 0;
}
#main #contact .contactDetails .column a{
	position: relative;
	color: #1f3d5a;
	text-decoration: none;
	font-size: 18px;
}

#main #contact .contactDetails .column:nth-child(3) { margin: 0 }
#main #contact .contactDetails .column p { font-size: 14px }

#main #contact .contactDetails .column .social a { 
	width: 48px;
	height: 48px;
	display: inline-block;
}
#main #contact .contactDetails .column p .twitter{
	background: url(../img/social.png) 50px 0px;
}
#main #contact .contactDetails .column p .linkedin{
	background: url(../img/social.png) 0 0;
}
#main #contact .contactDetails .column p .vk{
	background: url(../img/social.png) 100px 0;
}


/* Let's Talk */
#main #letsTalk {
	position: relative;
	height: 200px;
	background: #37b0e9 url(../img/lets-talk_bg.jpg) no-repeat;
	background-size: cover;
}
#main #letsTalk a { text-decoration: none }
#main #letsTalk a h4 {
	display: block;
	padding: 84px 0;
	font-size: 36px;
	font-weight: 300;
	color: white;
	text-align: center;
}
#main #letsTalk a h4 span { font-weight: 600 }
#main #letsTalk a h4 span.icon {
	display: inline-block;
	vertical-align: middle;
	width: 48px;
	height: 48px;
	margin: 0 0 0 18px;
	background: url(../img/icon_arrow-right.png);
	background-position: top right;
	border: solid 1px white;
	-webkit-border-radius: 48px;
	-moz-border-radius: 48px;
	border-radius: 48px;
	transition: background-position .3s ease-in-out;
	-webkit-transition: background-position .3s ease-in-out;
	-moz-transition: background-position .3s ease-in-out;
	-o-transition: background-position .3s ease-in-out;
	-ms-transition: background-position .3s ease-in-out;
}
#main #letsTalk a h4:hover span.icon { background-position: top left }

/* Footer */
footer {
	position: relative;
	height: 70px;
	background: #37b0e9;
}
footer .logo {
	position: relative;
	display: block;
	padding: 25px 0 0 25px;
	width: 107px;
	height: 28px;
	color: white;
	text-decoration: none;
}
footer ul {
	position: relative;
	padding: 28px 25px 0 0;
}
footer ul li { display: inline-block }
footer ul li a {
	margin: 0 0 0 30px;
	font-size: 16px;
	font-weight: 300;
	color: white;
	text-decoration: none;
}
footer ul li a:hover { text-decoration: underline }

/* Project Modal */
.projectModal {
	position: absolute;
	display: none;
	overflow: scroll;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2e3254;
	background: rgba(46, 50, 84, 0.95);
	z-index: 1000;
}
.projectModal .closeContainer {
	position: relative;
	display: block;
	width: 1024px;
	height: 50px;
	margin: 0 auto;
}
.projectModal .closeContainer a.close {
	position: absolute;
	top: 20px;
	right: 0;
	font-size: 14px;
	color: white;
	text-decoration: none;
	opacity: .75;
}
.projectModal .closeContainer a.close:hover {
	opacity: 1;
	text-decoration: underline;
}
.projectModal .imgContainer { padding: 0 5% }
.projectModal .imgContainer img.project {
	position: relative;
	display: block;
	margin: 0 auto 50px auto;
	outline: 0;
	max-width: 100%;
	height: auto;
	-moz-box-shadow: 0 1px 12px rgba(46, 50, 84, 1);
	-webkit-box-shadow: 0 1px 12px rgba(46, 50, 84, 1);
	box-shadow: 0 1px 12px rgba(46, 50, 84, 1);
}

/* Contact Modal */
#mainViewpoint {
	width: 100%;
	height: 100%;
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
body.contact #mainViewpoint {
	-webkit-transform: scale3d(0.9, 0.9, 0.9);
	-moz-transform: scale3d(0.9, 0.9, 0.9);
	-ms-transform: scale3d(0.9, 0.9, 0.9);
	-o-transform: scale3d(0.9, 0.9, 0.9);
	transform: scale3d(0.9, 0.9, 0.9);
}
.contactModal {
	position: fixed;
	visibility: hidden;
	display: table;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2e3254;
	background: rgba(46, 50, 84, 0.75);
	z-index: 1000;
	opacity: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition-property: opacity,visibility;
	-moz-transition-property: opacity,visibility;
	-o-transition-property: opacity,visibility;
	transition-property: opacity,visibility;
	-webkit-transition-duration: 0.6s;
	-moz-transition-duration: 0.6s;
	-o-transition-duration: 0.6s;
	transition-duration: 0.6s;
}
body.contact .contactModal {
	visibility: visible;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.contactModal .modalWrapper {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	cursor: pointer;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.contactModal .modalWrapper .modal {
	position: relative;
	cursor: default;
	max-width: 750px;
	margin: 0 auto;
	text-align: center;
	background: #f0f3f6;
	-webkit-box-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	-moz-box-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	box-shadow: rgba(0,0,0,0.4) 0 1px 1px;
	border-top: 3px solid #37b0e9;
	-webkit-transform: scale3d(0.7, 0.7, 0.7);
	-moz-transform: scale3d(0.7, 0.7, 0.7);
	-ms-transform: scale3d(0.7, 0.7, 0.7);
	-o-transform: scale3d(0.7, 0.7, 0.7);
	transform: scale3d(0.7, 0.7, 0.7);
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
}
body.contact .contactModal .modalWrapper .modal {
	-webkit-transform: scale3d(1, 1, 1);
	-moz-transform: scale3d(1, 1, 1);
	-ms-transform: scale3d(1, 1, 1);
	-o-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}
.contactModal .modalWrapper .modal .contentContainer { padding: 30px }
.contactModal .modalWrapper .modal .contentContainer h2 {
	display: block;
	margin: 0 0 20px 0;
	font-size: 32px;
	font-weight: 300;
	color: #37b0e9;
	text-align: center;
}
.contactModal .modalWrapper .modal .contentContainer h2 span { font-weight: 600 }
.contactModal .modalWrapper .modal .contentContainer p {
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	color: #597086;
	text-align: left;
}
.contactModal .modalWrapper .modal .formContainer {
	background: #e7ebf0;
}
.contactModal .modalWrapper .modal .formContainer .inputContainer {
	position: relative;
	display: inline-block;
}
.contactModal .modalWrapper .modal .formContainer .inputContainer:nth-child(1) { margin: 0 15px 0 0 }
.contactModal .modalWrapper .modal .formContainer ::-webkit-input-placeholder {
	font-weight: 300;
	color: #597086;
}
.contactModal .modalWrapper .modal .formContainer :-moz-placeholder {
	font-weight: 300;
	color: #597086;
}
.contactModal .modalWrapper .modal .formContainer ::-moz-placeholder {
	font-weight: 300;
	color: #597086;
}
.contactModal .modalWrapper .modal .formContainer :-ms-input-placeholder {
	font-weight: 300;
	color: #597086;
}
.contactModal .modalWrapper .modal .formContainer .inputContainer input[type="text"] {
	width: 314px;
	height: 48px;
	margin: 0;
	padding: 0 10px;
	background: white;
	border: none;
	outline: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	color: #2e3254;
}
.contactModal .modalWrapper .modal .formContainer .messageContainer {
	position: relative;
	margin: 18px 0 0 0;
}
.contactModal .modalWrapper .modal .formContainer .messageContainer textarea {
	width: 666px;
	height: 150px;
	padding: 10px;
	background: white;
	border: none;
	outline: none;
	resize: vertical;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	font-size: 14px;
	font-weight: 500;
	color: #2e3254;
}
.contactModal .modalWrapper .modal .formContainer .inputContainer input[type="text"]:focus,
.contactModal .modalWrapper .modal .formContainer .messageContainer textarea:focus {
	-webkit-box-shadow: 0 0 0 1px #37b0e9;
	-moz-box-shadow: 0 0 0 1px #37b0e9;
	box-shadow: 0 0 0 1px #37b0e9;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer {
	display: block;
	margin: 18px 0 0 0;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer .ui-slider {
	position: relative;
	height: 4px;
	background: #d1d9e2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer .ui-slider .ui-slider-range {
	height: 4px;
	background: #37b0e9;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer .ui-slider .ui-slider-handle {
	position: absolute;
	top: -9px;
	margin-left: -9px;
	width: 18px;
	height: 18px;
	outline: none;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	background: white;
	-webkit-box-shadow: 0 1px 3px rgba(46, 50, 84, 0.2);
	-moz-box-shadow: 0 1px 3px rgba(46, 50, 84, 0.2);
	box-shadow: 0 1px 3px rgba(46, 50, 84, 0.2);
	z-index: 2;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer label {
	display: block;
	margin: 0 0 15px 0;
	font-size: 16px;
	font-weight: 600;
	color: #597086;
	text-align: left;
}
.contactModal .modalWrapper .modal .formContainer .budgetContainer label span.budgetAmount {
	position: relative;
	display: inline-block;
	top: -1px;
	height: 24px;
	margin: 0 0 0 8px;
	padding: 0 8px;
	border: solid 1px #37b0e9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 14px;
	line-height: 24px;
	color: #37b0e9;
}
.contactModal .modalWrapper .modal .formActions {
	position: relative;
	padding: 30px 0;
}
.contactModal .modalWrapper .modal .formActions button {
	position: relative;
	display: inline-block;
	height: 48px;
	margin: 0;
	padding: 0 25px;
	cursor: pointer;
	background: gray;
	border: none;
	outline: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 16px;
	text-align: center;
	transition: background 0.3s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
}
.contactModal .modalWrapper .modal .formActions button.secondaryBtn {
	margin: 0 10px 0 0;
	background: #d1d9e2;
	color: #597086;
}
.contactModal .modalWrapper .modal .formActions button.secondaryBtn:hover { background: #c5cfd9 }
.contactModal .modalWrapper .modal .formActions button.primaryBtn {
	background: #37b0e9;
	color: white;
}
.contactModal .modalWrapper .modal .formActions button.primaryBtn:hover { background: #229cd5 }
.contactModal .modalWrapper .modal .loadingOverlay {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(240, 243, 246, 0.8);
	z-index: 3;
}
.contactModal .modalWrapper .modal .loadingOverlay .loadingIcon {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 240px auto 0;
  border: 2px solid #a4b6c8;
  border-radius: 50%;
  background: #f0f3f6;
  -webkit-box-shadow: 0 0 100px 50px #f0f3f6;
  -moz-box-shadow: 0 0 100px 50px #f0f3f6;
  box-shadow: 0 0 100px 50px #f0f3f6;
  animation: loadingAnimation 1.5s linear infinite;
  -webkit-animation: loadingAnimation 1.5s linear infinite;
  -moz-animation: loadingAnimation 1.5s linear infinite;
  -o-animation: loadingAnimation 1.5s linear infinite;
  -ms-animation: loadingAnimation 1.5s linear infinite;
}
.contactModal .modalWrapper .modal .loadingOverlay .loadingIcon:after {
  content: "";
  width: 85%;
  height: 85%;
  background: -webkit-linear-gradient(45deg, rgba(240, 243, 246, 1) 0%, rgba(240, 243, 246, 1) 40%, rgba(240, 243, 246, 0.65) 60%, rgba(240, 243, 246, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-5%, -5%);
  -webkit-transform: translate(-5%, -5%);
  -moz-transform: translate(-5%, -5%);
  -o-transform: translate(-5%, -5%);
  -ms-transform: translate(-5%, -5%);
}
.contactModal .modalWrapper .modal .successOverlay {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f0f3f6;
	z-index: 3;
}
.contactModal .modalWrapper .modal .successOverlay h2 {
	display: block;
	margin: 250px 0 20px 0;
	font-size: 32px;
	font-weight: 300;
	color: #00c78c;
	text-align: center;
}
.contactModal .modalWrapper .modal .successOverlay h2 span { font-weight: 600 }
.contactModal .modalWrapper .modal .successOverlay p {
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	color: #597086;
	text-align: center;
}
.contactModal .modalWrapper .modal .successOverlay a.close {
	display: block;
	margin: 20px 0;
	font-size: 16px;
	line-height: 1.6em;
	font-weight: 300;
	color: #597086;
	text-align: center;
	text-decoration: underline;
}
.contactModal .modalWrapper .modal .successOverlay a.close:hover { color: #2e3254 }

/* Let's make this responsive */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	#main #work .gallery .shotWrapper .shot .overlay {
		top: 60%;
		opacity: 1;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#main section header h3 { font-size: 21px }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	header#header nav#navigation > ul { display: none }
	header#header a.mobileNav { display: block }
	header#header .hero h2,
	.welcome h2 { font-size: 42px }
	header#header .hero h3,
	.welcome h3 { font-size: 25px }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	#main section header h3 { font-size: 16px }
	#main p { font-size: 13px }
	#main .workFlow::before { display: none}
	#main .workFlow ul li { -webkit-transform: scale(.75) }
	#main .workFlow ul li .details ul li { margin: 0 }
	#main .workFlow ul li,
	#main .workFlow ul li .iconContainer,
	#main .workFlow ul li span.point.autoCenter,
	#main .workFlow ul li .details h4,
	#main .workFlow ul li .details ul,
	#main #contact .responsiveDesign {
		opacity: 1 !important;
		-webkit-animation: none;
		-webkit-transition: none;
	}
	#main #work .gallery .shotWrapper {
		-webkit-animation: none;
		opacity: 1;
	}
	#main #contact .contactDetails .column {
		display: block;
		float: none;
		width: auto;
		margin-right: 0;
	}
	#main #contact .contactDetails .column p {
		margin-bottom: 20px;
		position: absolute;
		top: 0;
		right: 0;
	}
	#main #contact .contactDetails .column .social {
		top: -20px;
	}

	#main #letsTalk { height: 100px }
	#main #letsTalk a h4 {
		padding: 45px 0;
		font-size: 18px;
	}
	#main #letsTalk a h4 span.icon { display: none }
	footer ul { display: none }
	footer .logo {
		float: none;
		margin: 0 auto;
	}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	header#header .hero h2,
	.welcome h2 { font-size: 28px }
	header#header .hero h3,
	.welcome h3 { font-size: 16px }
	header#header .hero a.scrollDown { margin: 55px auto 0 auto }
	#main section header h3 { font-size: 16px }
	#main p { font-size: 13px }
	#main .workFlow::before { display: none}
	#main .workFlow ul li {
		display: block;
		float: none;
		width: 100%;
		margin: 0 0 100px 0;
	}
	#main .workFlow ul li .details ul li { margin: 0 }
	#main .workFlow ul li,
	#main .workFlow ul li .iconContainer,
	#main .workFlow ul li span.point.autoCenter,
	#main .workFlow ul li .details h4,
	#main .workFlow ul li .details ul,
	#main #contact .responsiveDesign {
		opacity: 1 !important;
		-webkit-animation: none;
		-webkit-transition: none;
	}
	#main #work .gallery .shotWrapper {
		display: block;
		float: none;
		width: 290px;
		height: 290px;
		padding: 0;
		margin: 0 auto 10% auto !important;
		-webkit-animation: none;
		opacity: 1;
	}
	#main #contact .contactDetails .column {
		display: block;
		float: none;
		width: auto;
		margin-right: 0;
	}
	#main #contact .contactDetails .column p {
		margin-bottom: 20px;
		position: absolute;
		top: 0;
		right: 0;
	}
	#main #contact .contactDetails .column .social {
		top: -20px;
	}
	#main #letsTalk { height: 100px }
	#main #letsTalk a h4 {
		padding: 45px 0;
		font-size: 18px;
	}
	#main #letsTalk a h4 span.icon { display: none }
	footer ul { display: none }
	footer .logo {
		float: none;
		margin: 0 auto;
	}
}
